
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    //
    // For more details, see the `security-rules.md` file in the `docs` folder.
    //
    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    match /users/{userId} {
      // https://firebase.google.com/docs/firestore/security/rules-conditions
      //
      // `get`, `list`
      allow get: if isOwner(userId);
      //
      // `create`, `update`, `delete`
      allow write: if isOwner(userId);
    }
  }
}
